  <footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= t "spree.powered_by" %> <%= link_to "Solidus", "http://solidus.io/" %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
  <script
    src="https://js.afterpay.com/afterpay-1.x.js"
    data-analytics-enabled
    async
    data-min="15"
    data-max="35"
  ></script>
</footer>